
*{
  margin: 1.0px;
  padding: 1.0px;    
  box-sizing: border-box ;  
}

body{
   background-color: rgb(233, 114, 30);
   font-family: Arial, Helvetica, sans-serif;
}


/*!----Inicio borde animado cabecera----->*/
.contenedor-head animate-bg {
position: relative;
margin: 10px auto 0;
width: 98%;
height: 320px;
}

.animate-bg:before, .animate-bg:after {
content: '';
position: absolute;
left: -8px;
top: -8px;
background: linear-gradient(120deg, #79fb00, #ab4db8, #ffe600, #62dfd8,  
#68c775, #acfcc4,#ff6600, #00c3ff, #F4c2e4,#adad02);
background-size: 300%;
width: calc(100% + 16px);
height: calc(50% + 16px);
z-index: -1;
animation: BGgradient 15s ease infinite; 
}

@keyframes BGgradient {
0% {
  background-position: 0% 200%;
}
50% {
  background-position: 200% 0%;
}
100% {
  background-position: 0% 330%;
}
}
/*!----Final borde animado cabecera ----->*/
/*!----Fin Cabecera tutor Diseño AlexCG----->*/



/*!------------  INICIO  PARRAFO MARQUEE Y PARRAFO ----------------------->*/
.parrafo1 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;
  
-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo1{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}
/*!----------- FINAL PARRAFO MARQUEE Y PARRAFO----------------------->*/




/** Url fonts **/
.container-dos {
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
  margin: auto;
  padding: 2.5px 0;
  justify-content: space-between;
  align-items: center;
}
/** Url fonts **/




/*!---- Inicio forulario contacto ----->*/

.form{
  margin-top: 35px;;
}

.campo{
  margin-right: 10px;;
  padding: 17px 35px;;
  border: 2px solid #f809d4;;
  outline: none;;
  color: #102934;;
}

.campo::placeholder{
  color: #090707;;
}

.btn-2{
  padding: 17px 35px;;
  border-radius: 20px;
  border: 2px solid #f809d4;;
  background-color: #060606;;
  color: #eff3d3;;
}

.footer-txt{
  margin-top: 100px;;
  border-top: 1px solid #848484;;
  padding: 20px 0;;
}

.footer-txt p{
  color: #848484;;
  font-size: 16px;;
}
/*!---- Final forulario contacto ----->*/




/*!------ Inicio mapa ------->*/

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
  height:100%;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/*!------ Final mapa ------->*/





/*!------ Inicio hacia arriba footer scrool button -------->*/

.lierlis {
  scroll-behavior: smooth;
}

.btn-scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background: #030200;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
  transform: translateY(100px);
  transition: 0.3s;
}

.btn-scrolltop-on {
  transform: translateY(0);
}
/*!------ Final arriba footer scrool button ------->*/


hr {
  width: 100%;
}



/*!----INICIO  FOOTER!----->*/

.footer {
  margin-top: 1%;
  width: 100%;
  padding: 0px 0px;
  position: relative;
  }

.footer_p{
  color: #000;
  text-align: center;
  }

.footer_p2{
  color: #000;
  text-align: center;
}
/*!--------- FINAL  FOOTER --------------->*/




